<%- include ../../partials/header.ejs %> <%- include ../../partials/navbar.ejs
%> <%- include ../../partials/sidebar.ejs %>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Kirim Surat</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">
              <a href="/kirimsurat">Kirim Surat</a>
            </li>
            <li class="breadcrumb-item active">Edit</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">
                Form Edit Kirim Surat <%= kirimsurat.nodokumen.noDokumen %>
              </h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form
              action="/kirimsurat/edit/<%= kirimsurat._id %>?_method=PUT"
              method="POST"
            >
              <div class="card-body">
                <div class="form-group">
                  <label style="color: red">*</label
                  ><label>Nomor Dokumen</label>
                  <select
                    class="form-control select2"
                    style="width: 100%"
                    name="noDokumen"
                    required
                  >
                    <option selected="selected">Pilih Kode Dokumen</option>
                    <% nodokumen.forEach(nodok=> { %> <% if(nodok._id.toString()
                    === kirimsurat.nodokumen._id.toString()) { %>
                    <option value="<%= nodok._id %>" selected>
                      <%= nodok.noDokumen %>
                    </option>
                    <% } else { %>
                    <option value="<%= nodok._id %>">
                      <%= nodok.noDokumen %>
                    </option>
                    <% } %> <% }) %>
                  </select>
                </div>
                <div class="form-group">
                  <label style="color: red">*</label><label>Kurir</label>
                  <select
                    class="form-control select2"
                    style="width: 100%"
                    name="kurir"
                    required
                  >
                    <option selected="selected">Pilih Kurir</option>
                    <% kurir.forEach(kurir=> { %> <% if(kurir._id.toString() ===
                    kirimsurat.kurir._id.toString()) { %>
                    <option value="<%= kurir._id %>" selected>
                      <%= kurir.kurirName %>
                    </option>
                    <% } else { %>
                    <option value="<%= kurir._id %>">
                      <%= kurir.kurirName %>
                    </option>
                    <% } %> <% }) %>
                  </select>
                </div>
                <% if(kirimsurat.kurir._id.toString() === '64378bb0227ecdcdacef9705') { %>
                <div
                  class="form-group"
                  id="fieldHandcarry"
                  style="display: none"
                >
                  <label style="color: red">*</label
                  ><label for="handcarry">Nama HandCarry: </label>
                  <select
                    name="nameHandCarry"
                    id="namehandcarry"
                    class="form-control select2"
                    style="width: 100%"
                    required
                  >
                    <% pegawai.forEach(pegawai=> { %> <%
                    if(pegawai._id.toString() ===
                    kirimsurat.namaHandCarry._id.toString()) { %>
                    <option value="<%= pegawai._id %>" selected>
                      <%= pegawai.namaPegawai %>
                    </option>
                    <% } else { %>
                    <option value="<%= pegawai._id %>">
                      <%= pegawai.namaPegawai %>
                    </option>
                    <% } %> <% }) %>
                  </select>
                </div>
                <% } else {%>
                  <div
                  class="form-group"
                  id="fieldHandcarry"
                  style="display: none"
                >
                  <label style="color: red">*</label
                  ><label for="handcarry">Nama HandCarry: </label>
                  <select
                    name="nameHandCarry"
                    id="namehandcarry"
                    class="form-control select2"
                    style="width: 100%"
                    required
                  >
                  <option selected="selected">
                    Pilih Pegawai Penanggung Jawab
                  </option>
                  <% pegawai.forEach(pegawai => { %>
                    <option value="<%= pegawai._id %>">
                      <%= pegawai.namaPegawai %>
                    </option>
                    <% }) %>
                  </select>
                </div>
                <% } %>
                <div class="form-group">
                  <label style="color: red">*</label
                  ><label>Tanggal Kirim :</label>
                  <div
                    class="input-group date"
                    id="reservationdate"
                    data-target-input="nearest"
                  >
                    <input
                      type="text"
                      name="tanggalkirim"
                      class="form-control datetimepicker-input"
                      data-target="#reservationdate"
                      required
                      value="<%= kirimsurat.tanggalKirim%>"
                    />
                    <div
                      class="input-group-append"
                      data-target="#reservationdate"
                      data-toggle="datetimepicker"
                    >
                      <div class="input-group-text">
                        <i class="fa fa-calendar"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Simpan</button>
              </div>
            </form>
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<%- include ../../partials/footer.ejs %> <%- include ../../partials/js.ejs %>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const select = document.querySelector("select[name='kurir']");
    const fieldHandcarry = document.getElementById("fieldHandcarry");

    if (select.value === "64378bb0227ecdcdacef9705") {
      fieldHandcarry.style.display = "block";
    } else {
      fieldHandcarry.style.display = "none";
    }

    select.onchange = function () {
      if (this.value === "64378bb0227ecdcdacef9705") {
        fieldHandcarry.style.display = "block";
      } else {
        fieldHandcarry.style.display = "none";
      }
    };
  });
</script>
