<table
  id="example2"
  class="table table-bordered table-hover text-center text-align-center"
>
  <thead>
    <tr>
      <th>No</th>
      <th>Nomor Dokumen</th>
      <th>Kurir</th>
      <th>Tanggal Kirim</th>
      <th>Status Kirim</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% const sortirKirimSurat = kirimsurat.slice().sort((a,b)=> new Date(b.createdAt)- new Date(a.createdAt))
    for(let i = 0; i < kirimsurat.length; i++){
      let kirim = sortirKirimSurat[i] %>
    <tr>
      <td><%= i+1 %></td>
      <td><%= kirim?.nodokumen?.noDokumen ?? '-'%></td>
      <% if(kirim.kurir.kurirName === "HandCarry") {%>
      <td>
        <%= kirim?.kurir?.kurirName ?? '-' %> - <%=
        kirim?.namaHandCarry?.namaPegawai %>
      </td>
      <% } else { %>
      <td><%= kirim?.kurir?.kurirName ?? '-' %></td>
      <% } %>
      <td><%= kirim.tanggalKirim %></td>
      <td>
        <% if(kirim.statusKirim === 'T') { %>
        <span class="badge badge-success">Terkirim</span>
        <% } else { %> <% if(kirim.statusKirim === 'D') {%>
        <span class="badge badge-secondary">Dikirim</span>
        <% } else if(kirim.statusKirim === 'R') { %>
        <span class="badge badge-warning">Retur</span>
        <% } %> <% }%>
      </td>
      <td>
        <% if(kirim.statusKirim === 'D') {%>
        <form
          action="/kirimsurat/status/<%= kirim._id %>?statusKirim=T&_method=PUT"
          style="display: inline-block"
          method="POST"
        >
          <button class="btn btn-success btn-sm">
            <i class=""> Terkirim </i>
          </button>
        </form>
        <form
          action="/kirimsurat/status/<%= kirim._id %>?statusKirim=R&_method=PUT"
          style="display: inline-block"
          method="POST"
        >
          <button class="btn btn-warning btn-sm">
            <i class=""> Retur </i>
          </button>
        </form>
        <% } %> <% if( kirim.statusKirim != 'R') {%>
        <a
          href="/kirimsurat/edit/<%= kirim._id %>"
          class="btn btn-warning btn-sm"
        >
          <i class="fas fa-pencil-alt"> Edit </i>
        </a>
        <% } %> <% if(kirim.statusKirim != 'D') {%>
        <form
          action="/kirimsurat/delete/<%= kirim._id %>?_method=DELETE"
          method="POST"
          style="display: inline-block"
        >
          <button class="btn btn-danger btn-sm">
            <i class="fas fa-trash"> Hapus </i>
          </button>
        </form>
        <% } %>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
