<table
  id="example2"
  class="table table-bordered table-hover text-center text-align-center"
>
  <thead>
    <tr>
      <th>No</th>
      <th>Nomor Dokumen</th>
      <th>Kurir</th>
      <th>Tanggal Kirim</th>
      <th>Tanggal Terima</th>
      <th>Nomor Resi</th>
      <th>Penerima</th>
      <th>Status Kirim</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < kirimsurat.length; i++){ %>
    <tr>
      <td><%= i+1 %></td>
      <td><%= kirimsurat[i]?.nodokumen?.noDokumen ?? '-'%></td>
      <% if(kirimsurat[i].kurir.kurirName === "HandCarry") {%>
      <td>
        <%= kirimsurat[i]?.kurir?.kurirName ?? '-' %> - <%=
        kirimsurat[i]?.namaHandCarry?.namaPegawai %>
      </td>
      <% } else { %>
      <td><%= kirimsurat[i]?.kurir?.kurirName ?? '-' %></td>
      <% } %>
      <td><%= kirimsurat[i].tanggalKirim %></td>
      <td><%= kirimsurat[i].tanggalTerima %></td>
      <td><%= kirimsurat[i].noresi %></td>
      <td><%= kirimsurat[i].penerima %></td>
      <td>
        <% if(kirimsurat[i].statusKirim === 'T') { %>
        <span class="badge badge-success">Terkirim</span>
        <% } else { %> <% if(kirimsurat[i].statusKirim === 'D') {%>
        <span class="badge badge-secondary">Dikirim</span>
        <% } else if(kirimsurat[i].statusKirim === 'R') { %>
        <span class="badge badge-warning">Retur</span>
        <% } %> <% }%>
      </td>
      <td>
        <% if(kirimsurat[i].statusKirim === 'D') {%>
        <form
          action="/kirimsurat/status/<%= kirimsurat[i]._id %>?statusKirim=T&_method=PUT"
          style="display: inline-block"
          method="POST"
        >
          <button class="btn btn-success btn-sm">
            <i class=""> Terkirim </i>
          </button>
        </form>
        <form
          action="/kirimsurat/status/<%= kirimsurat[i]._id %>?statusKirim=R&_method=PUT"
          style="display: inline-block"
          method="POST"
        >
          <button class="btn btn-warning btn-sm">
            <i class=""> Retur </i>
          </button>
        </form>
        <% } %> <% if( kirimsurat[i].statusKirim != 'R') {%>
        <a
          href="/kirimsurat/edit/<%= kirimsurat[i]._id %>"
          class="btn btn-warning btn-sm"
        >
          <i class="fas fa-pencil-alt"> Edit </i>
        </a>
        <% } %> <% if(kirimsurat[i].statusKirim != 'D') {%>
        <form
          action="/kirimsurat/delete/<%= kirimsurat[i]._id %>?_method=DELETE"
          method="POST"
          style="display: inline-block"
        >
          <button class="btn btn-danger btn-sm">
            <i class="fas fa-trash"> Hapus </i>
          </button>
        </form>
        <% } %>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
