<%- include ../../partials/header.ejs %> <%- include ../../partials/navbar.ejs
%> <%- include ../../partials/sidebar.ejs %>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Surat Keluar</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Surat Keluar</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <%- include ../../partials/message.ejs %>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div class="row justify-content-between">
                <div class="col-2">
                  <h3 class="card-title">
                    <a href="/suratkeluar/klasifikasi" class="btn btn-primary">
                      <i class="nav-icon fa fa-plus"></i>
                      Tambah
                    </a>
                  </h3>
                </div>
                <div class="">
                  <h3 class="card-title">
                    <a href="/suratkeluar/exportData" class="btn btn-success">
                      <i class="nav-icon fa fa-file-export"></i>
                      Export To CSV
                    </a>
                  </h3>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body"><%- include ./table.ejs %></div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<%- include ../../partials/footer.ejs %> <%- include ../../partials/js.ejs %>
